.colors-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin: 4rem 0;
    article {
        height: 200px;
        padding: 1rem;
        box-shadow: $shadow;
        transition: $ease-trans;
        p {
            margin-bottom: 0.5rem;
        }
        &:hover {
            transform: translateY(-0.25rem);
        }
    }
}
