nav {
    background-color: $primary-clr;
}

.navbar {
    height: 5rem;
    @extend %flex-between;
    color: $white;
    h1 {
        font-size: 2rem;
        font-weight: 500;
        @include for-size(small) {
            font-size: 1.6rem;
        }
    }
    a {
        color: $white;
        transition: $ease-trans;
        &:hover {
            color: $light-green;
        }
    }
    .icon {
        display: block;
        font-size: 2rem;
        @include for-size(small) {
            font-size: 1.8rem;
        }
    }
}
